*{
    max-width: 1920px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    max-width: 1920px; 
    min-height: 651px;
    background-image: url(/css/img/auto2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.black_fone{
    min-width: 1920px;
    position: absolute;
    opacity: 0.9;
    top: 59px;
}
.people_info{
    position: absolute;
    display: flex;
    left: 390px;
    margin-top: 16px;
}
.people_info li{
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: white;
}
.people_info li:nth-child(2){
    margin-left: 50px;
}
.people_info li:nth-child(1)::before{
    content: "";
    background-image: url(/css/img/man1.png);
    background-size: cover;
    width: 16px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    padding-right: 6px;
}
.people_info li:nth-child(2)::before{
    content: "";
    background-image: url(/css/img/mans.png);
    background-size: cover;
    width: 16px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    padding-right: 6px;
}
.logo{
    position: absolute;
    left: 390px;
    top: 84px;
    max-width: 1920px;
}
.address{
    position: absolute;
    right: 628px;
    top: 70px;
}
.address_time li{
    list-style: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}
.adress_time_low li::before{
    content: "";
    background-image: url(/css/img/pin.png);
    background-size: cover;
    width: 16px;
    height: 24px;
    position: absolute;
    left: -24px;
    top: 4px;
}
.adress_time_clock li{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
.adress_time_low li{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
.adress_time_clock li::before{
    content: "";
    background-image: url(/css/img/clock.png);
    background-size: cover;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -24px;
    top: 59px;
}
.call_info{
    position: absolute;
    right: 340px;
    top: 70px;
}
.number_phone{
    position: relative;
}
.number_phone_t li{
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 180%;
}
.number_phone_t li::before{
    content: "";
    background-image: url(/css/img/watsup.png);
    background-size: cover;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 2px;
    top: 39px;
}
.number_phone_r li::before{
    content: "";
    background-image: url(/css/img/viber.png);
    background-size: cover;
    width: 17px;
    height: 17px;
    position: absolute;
    left: -21px;
    top: 5px;
}
.number_phone_r{
    position: absolute;
    list-style: none;
    right: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 150%;

}
.call_back{
    width: 220px;
    height: 41px;
    position: absolute;
    right: 341px;
    top: 140px;
    background-color: #ffae00;
    border-radius: 6px;
}
.call_back_b{
    width: 220px;
    height: 41px;
    position: relative;
    align-items: center;
    background-image: url(/css/img/call_back.png);
    background-repeat: no-repeat;
    background: transparent;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    outline: none;

}
.call_back_b::before{
    content: "";
    background-image: url(/css/img/phone_call_back.png);
    background-size: cover;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 18px;
    top: 6px;
}
.products_as{
    position: absolute;
    display: flex;
    top: 215px;
    left: 390px;
}
.products_as li{
    color: white;
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 100%;
    margin: 0 0 0 44px;
    cursor: pointer;
}
.products_as li:nth-child(1){
    margin: 0 0 0 0;
}
.products_as li:hover{
    color: #ffae00;
}
.products_as input{
    position: absolute;
    right: -356px;
}