*{
    max-width: 1920px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    max-width: 1920px; 
    min-height: 651px;
    background-image: url(/css/img/auto2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.black_fone{
    min-width: 1920px;
    position: absolute;
    opacity: 0.9;
    top: 59px;
}
.people_info{
    position: absolute;
    display: flex;
    left: 390px;
    margin-top: 16px;
}
.people_info li{
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: white;
}
.people_info li:nth-child(2){
    margin-left: 50px;
}
.people_info li:nth-child(1)::before{
    content: "";
    background-image: url(/css/img/man1.png);
    background-size: cover;
    width: 16px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    padding-right: 6px;
}
.people_info li:nth-child(2)::before{
    content: "";
    background-image: url(/css/img/mans.png);
    background-size: cover;
    width: 16px;
    height: 24px;
    display: inline-block;
    margin-right: 6px;
    padding-right: 6px;
}
.logo{
    position: absolute;
    left: 390px;
    top: 84px;
    max-width: 1920px;
}
.address{
    position: absolute;
    right: 628px;
    top: 70px;
}
.address_time li{
    list-style: none;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
}
.adress_time_low li::before{
    content: "";
    background-image: url(/css/img/pin.png);
    background-size: cover;
    width: 16px;
    height: 24px;
    position: absolute;
    left: -24px;
    top: 4px;
}
.adress_time_clock li{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
.adress_time_low li{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
.adress_time_clock li::before{
    content: "";
    background-image: url(/css/img/clock.png);
    background-size: cover;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -24px;
    top: 59px;
}
.call_info{
    position: absolute;
    right: 340px;
    top: 70px;
}
.number_phone{
    position: relative;
}
.number_phone_t li{
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 180%;
}
.number_phone_t li::before{
    content: "";
    background-image: url(/css/img/watsup.png);
    background-size: cover;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 2px;
    top: 39px;
}
.number_phone_r li::before{
    content: "";
    background-image: url(/css/img/viber.png);
    background-size: cover;
    width: 17px;
    height: 17px;
    position: absolute;
    left: -21px;
    top: 5px;
}
.number_phone_r{
    position: absolute;
    list-style: none;
    right: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 150%;

}
.call_back{
    width: 220px;
    height: 41px;
    position: absolute;
    right: 341px;
    top: 140px;
    background-color: #ffae00;
    border-radius: 6px;
}
.call_back_b{
    width: 220px;
    height: 41px;
    position: relative;
    align-items: center;
    background-image: url(/css/img/call_back.png);
    background-repeat: no-repeat;
    background: transparent;
    border: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    outline: none;

}
.call_back_b::before{
    content: "";
    background-image: url(/css/img/phone_call_back.png);
    background-size: cover;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 18px;
    top: 6px;
}
.products_as{
    position: absolute;
    display: flex;
    top: 215px;
    left: 390px;
}
.products_as li{
    color: white;
    list-style: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 100%;
    margin: 0 0 0 44px;
    cursor: pointer;
}
.products_as li:nth-child(1){
    margin: 0 0 0 0;
}
.products_as li:hover{
    color: #ffae00;
}
.products_as input{
    position: absolute;
    right: -355px;
    background: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    width: 239px;
}
.products_as ::placeholder{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.products_as li::after{
    content: "";
    background-image: url(/css/img/research.png);
    background-size: cover;
    width: 15px;
    height: 16px;
    position: absolute;
    right: -349px;
    top: -5px;
}
#slider{
    position: absolute;
    top: 249px;
    bottom: 6px;
    width: 1920px;
}
.slider_op{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1920px;
}
.slider_op h1{
    position: absolute;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 330%;
    left: 390px;
    top: 105px;
}
.sale h1{
    position: absolute;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 634%;
    left: 786px;
    top: 180px;
}
.slider_op h2{
    position: absolute;
    color: #ffae00;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    left: 390px;
    top: 172px;
    font-size: 208%;
}
.form{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 388px;
    top: 44px;
    height: 286px;
    width: 360px;
    border: 3px solid #ffae00;
    border-radius: 2%;
    background-color: #cdcccc;
    opacity: 0.9;
}
.form h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 167%;
    color: #5f5f5f;
    padding: 20px 20px 10px 20px;
}
.form h4{
    font-family: 'Fira Sans', sans-serif;
    color: black;
    font-size: 106%;
    font-weight: 300;
    padding: 0 14px 18px 14px;
}
.form input{
    height: 39px;
    border: none;
    padding: 16px 0 10px 16px;
    outline: none;
}
#first{
    margin: 10px 10px 13px 10px;
    border-bottom: 1px solid black;
}
#two{
    margin: 0 10px 0 10px;
    border-bottom: 1px solid black;
}
.form ::placeholder{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: black;
}
.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before{
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #adb5bd;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 5px;
}
.custom-checkbox:checked + label:before{
    border-color: #0b76ef;
    background-color: #0b76ef;
}
.checkbox label{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    position: absolute;
    left: 10px;
    bottom: 56px;
}
.call_me{
    width: 195px;
    height: 41px;
    background: #ffaf00;
    border: 0;
    border-radius: 5px;
    position: absolute;
    bottom: 12px;
    outline: none;
    cursor: pointer;
    left: 80px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}